<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.example.sns.post.dao">
 	<insert id="insertPost" parameterType="Map">
 		INSERT INTO `post`
 			(
				`userId`
				,`content`
				,`imgePath`
				,`createdAt`
				,`updatedAt`
 			)
 		VALUES
 			(
				#{userId}
				,#{content}
				,#{imgePath}
				,#{createdAt}
				,#{updatedAt}
 			)
 	</insert>
 	<select id="selectPost" resultType="com.example.sns.post.model.Post">
 		SELECT 
			*
		FROM
			`post`;
		ORDER BY `id` DESC;
 	</select>
 </mapper>